[build]
  command = "npm run build"
  publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin-allow-popups"
    Cross-Origin-Embedder-Policy = "unsafe-none"

[[headers]]
  for = "/__/auth/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin-allow-popups"
    X-Frame-Options = "ALLOW"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200